*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pickle
*.json
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
*.db-shm
*.db-wal
.ssh
.HA_VERSION
lib
deps
tts
secrets.yaml
ip_bans.yaml
secrets
known_devices.yaml
phue.conf
ios.conf
pyozw.sqlite
nest.conf
.uuid
ipchange.yaml
.spotify-token-cache
emulated_hue_ids.json
